{% extends "app/base_site.html" %}

{% block title %} {{pagetitle}} {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
<link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
  <link href="/static/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">
  <link href="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

<div id="loadpage" style="position:absolute;
    left:0px; top:0px; background-color:white;
    layer-background-color:white; height:100%;
    width:100%;">
       <img style="position:relative; left:18%; top:5%; display:flex; width:12%;" class="center" src="/static/loading.gif">
       <img style="position:relative; left:15%; top:5%; display:flex; width:17%" class="center" src="/static/spinner.gif">
</div>

<div id="divPageContent" style="visibility: hidden;">

  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">

          <!--"Version1:<span style="font-size:10px;"> (10.3.4)</span>  vs Version2: <span style="font-size:10px;">(10.3.4)</span>-->
          <h3>{{pagetitle}}  </h3>
        </div>
        <br>
        <div class="clearfix"></div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2> {{title}} </h2>
              <div class="clearfix"></div>

            </div>
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class=""><a href="#tab_metadata" id="overview-tab" role="tab" data-toggle="tab" aria-expanded="true">Query Result</a>
                  </li>
                    {% if DE_list %}
                  <li role="presentation" class=""><a href="#tab_DE" role="tab" id="DE-tab" data-toggle="tab" aria-expanded="false">Differential Expression</a>
                  </li>
                  {% endif %}
                    {% if RNAcols %}
                  <li role="presentation" class=""><a href="#tab_profile" role="tab" id="profiles" data-toggle="tab" aria-expanded="false">miRNA Profiles</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_plots" role="tab" id="plots" data-toggle="tab" aria-expanded="false">sRNA types distribution</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_genomes" role="tab" id="genomes-tab" data-toggle="tab" aria-expanded="false">Species distribution</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_downloads" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Download</a>
                  </li>
                        {% endif %}

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tab_metadata" aria-labelledby="profiles">
                    <div class="x_content">
                        <!--<div class="panel">-->
                            <br>
                        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                  <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">List of Selected Experiments</h4>
                  </a>
                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <pre style="white-space: pre-line">
                              {{SRX_string}}
                        </pre>
                    </div>
                  </div>
                        <h2> Samples metadata</h2>
                        <!--{{exp_table|safe}}-->
                      <table id="example" class="table table-striped table-bordered bulk_action"></table>

                    <!--<table id="profile" class="table table-striped table-bordered bulk_action"></table>-->
                  </div>
                  </div>
                    </div>
              <!--<table id="datatable-checkbox" class="table table-striped table-bordered bulk_action">-->
                    {% if RNAcols %}
                    <div role="tabpanel" class="tab-pane fade active" id="tab_profile" aria-labelledby="profiles">
                    <div class="x_content">
                        <br>
                        <table id="profile" class="table table-striped table-bordered bulk_action"></table>
                        <!--<table id=profile class="table table-striped table-bordered bulk_action"></table>-->
                      <div class="panel">
                          <!--{{exp_table|safe}}-->
                        <!--<table id="profile" class="table table-striped table-bordered bulk_action"></table>-->
                            <div class="accordion" id="accordion3" role="tablist" aria-multiselectable="true">
                                <a class="panel-heading" role="tab" id="heading5" data-toggle="collapse" data-parent="#accordion3" href="#collapse5" aria-expanded="false" aria-controls="collapseOne">
                    <h4 class="panel-title">Most highly expressed miRNAs</h4>
                  </a>
                  <div id="collapse5" class="panel-collapse active in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      {{top20|safe}}
                      {{toPie|safe}}
                    </div>
                  </div>
                                <a class="panel-heading" role="tab" id="heading6" data-toggle="collapse" data-parent="#accordion3" href="#collapse6" aria-expanded="false" aria-controls="collapseOne">
                    <h4 class="panel-title">Most and least variant microRNAs</h4>
                  </a>
                  <div id="collapse6" class="panel-collapse collapse active in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      {{top20CV|safe}}
                      {{bottom20CV|safe}}
                    </div>
                  </div>

                    </div>
                      </div>
                      </div>
                      </div>
                    {% if DE_list %}
                    <div role="tabpanel" class="tab-pane fade active" id="tab_DE" aria-labelledby="profile-tab">
                        <div class="accordion" id="accordion4" role="tablist" aria-multiselectable="true">
                            {% for comparison,table,plot in DE_objs %}
                                    <a class="panel-heading" role="tab" id="heading{{comparison}}" data-toggle="collapse" data-parent="#accordion4" href="#collapse{{comparison}}" aria-expanded="false" aria-controls="collapseOne">
                            <h4 class="panel-title">{{comparison}}</h4>
                          </a>
                          <div id="collapse{{comparison}}" class="panel-collapse collapse active in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                {{plot|safe}}

                            </div>
                          </div>
                            {% endfor %}
                  </div>
                  </div>
                  {% endif %}
                    <div role="tabpanel" class="tab-pane fade active" id="tab_plots" aria-labelledby="profiles">
                        <table id="RNA_types" class="table table-striped table-bordered bulk_action"></table>
                        {{mapBox|safe}}
                    </div>
                    <div role="tabpanel" class="tab-pane fade active" id="tab_genomes" aria-labelledby="profiles">

                        <table id="genomes" class="table table-striped table-bordered bulk_action"></table>
                        {{speciesPlot|safe}}

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_downloads" aria-labelledby="profile-tab">
                    <p></p>
                      <div class="col-md-4 col-sm-4 col-xs-12">
                          <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                                <h2>Download Expression Matrix</h2>
                                  <div class="clearfix"></div>
                                    </div>
                              <br>
                    <a href="{{RPM_link}}"><button class="btn"><i class="fa fa-download"></i> Download expression matrix (Reads Per Million)</button>
                    </a>
                        <br>
                        <br>

                    <a href="{{RC_link}}"><button class="btn"><i class="fa fa-download"></i> Download   expression  matrix RC  (Read Count)</button>
                    </a>
                          </div>
                          </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                                <h2>Download Full Sample Query Data</h2>
                                  <div class="clearfix"></div>
                              </div>
                                  <div class="x_content">
                              </div>
                                  <h4>Click the link below to donwload all data available in liqDB: samples metadata, SRA Run tables and IDs, Expression Profiles, RNA content distribution...</h4>


                                  <br>

                    <a href="{{full_link}}"><button class="btn"><i class="fa fa-download"></i> Download Full Data</button>

                    </a>
                              </div>
                              </div>
                              </div>

                    {% endif %}
                  </div>


                </div>
              <!--</div>-->



                <!--<table id="example" class="table table-striped table-bordered bulk_action">-->
                <!--&lt;!&ndash;<th>&ndash;&gt;-->
							 <!--&lt;!&ndash;<th><input type="checkbox" id="check-all" class="flat"></th>&ndash;&gt;-->
						  <!--&lt;!&ndash;</th>&ndash;&gt;-->
              <!--</table>-->

            </div>
          </div>
        </div>


      </div>

      <div class="clearfix"></div>

      <div class="">



      </div>


    </div>
    <div class="clearfix"></div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="/static/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

<script src="http://cdn.datatables.net/plug-ins/1.10.12/api/processing().js"></script>



<script>

//    alert("Hey2");
//    var received_data = {{ data }};
    var received_data = {{ data|safe }};
//    alert(received_data)
//    alert(received_data);

$(document).ready(function() {
    $('#example').DataTable( {
//        'responsive': true,
        data: received_data,
//        processing: true,
//        serverSide: true,
//        deferRender: false,
        'language':{
       "loadingRecords": "&nbsp;",
      "processing": "Loading..."
    },
        columns: [

            { title: "SRA Study" },
            { title: "Experiment" },
            { title: "BioSample" },
//            { title: "Organism" },
            { title: "Instrument" },
            { title: "Sex" },
            { title: "Fluid" },
            { title: "RNA Extraction protocol" },
            { title: "Library preparation protocol" },

            { title: "Healthy" },
            { title: "Cancer" },
            { title: "Exosome isolation treatment" },
            { title: "Sample info" }


        ]
    } );
} );

</script>

<script>
//    alert("Hey");
//    var received_data = {{ data }};
    var RNA_data = {{ RNAbody|safe }};
    var RNA_columns = {{RNAcols|safe}}
//    alert(RNA_columns)
//    alert(received_data);

$(document).ready(function() {
    $('#RNA_types').DataTable( {
//        'responsive': true,
        data: RNA_data,
        columns: RNA_columns,
        "order": [[ 2, "desc" ]]
    } );
} );

</script>

<script>
//    alert("Hey");
//    var received_data = {{ data }};
    var MIR_data = {{ MIRbody|safe }};
    var MIR_columns = {{MIRcols|safe}}
//    alert(RNA_columns)
//    alert(received_data);

$(document).ready(function() {
    $('#profile').DataTable( {
//        'responsive': true,
        data: MIR_data,
        columns: MIR_columns,
        "order": [[ 2, "desc" ]]
    } );
} );

</script>

<!--<script>-->
<!--//    alert("Hey");-->
<!--//    var received_data = {{ data }};-->
    <!--var received_data = {{ data|safe }};-->
<!--//    alert(received_data);-->

<!--$(document).ready(function() {-->
    <!--$('#example').DataTable( {-->
<!--//        'responsive': true,-->
<!--//        select: true,-->
<!--//        dom: 'Bfrtip',-->
        <!--columnDefs: [ {-->
            <!--orderable: false,-->
            <!--className: 'select-checkbox',-->
            <!--targets:   0-->
        <!--} ],-->
        <!--select: {-->
            <!--style:    'os',-->
            <!--selector: 'td:first-child'-->
        <!--},-->
        <!--order: [[ 1, 'asc' ]],-->
        <!--data: received_data,-->
        <!--columns: [-->
            <!--{title: '<input type="checkbox" id="check-all" class="flat">'},-->
            <!--{ title: "Experiment" },-->
            <!--{ title: "BioSample" }-->
<!--//            { title: "Organism" },-->
<!--//            { title: "Instrument" },-->
<!--//            { title: "Sex" },-->
<!--//            { title: "Fluid" },-->
<!--//            { title: "Library preparation protocol" },-->
<!--//-->
<!--//            { title: "RNA Extraction protocol" },-->
<!--//            { title: "Healthy" },-->
<!--//            { title: "Cancer" },-->
<!--//            { title: "Exosome isolation treatment" },-->
<!--//            { title: "Sample info" }-->


        <!--]-->
    <!--} );-->
<!--} );-->

<!--</script>-->

<!--<script>-->
<!--//    alert("Hey");-->
<!--//    var received_data = {{ data }};-->
    <!--var parsed_data = {{ exp_data|safe }};-->
    <!--var exp_columns = {{exp_columns|safe}}-->
<!--//    alert(exp_columns)-->
<!--//    alert(received_data);-->

<!--$(document).ready(function() {-->
    <!--$('#profile').DataTable( {-->
<!--//        'responsive': true,-->
        <!--data: parsed_data,-->
        <!--columns: exp_columns-->
    <!--} );-->
<!--} );-->

<!--</script>-->

<script>
//    alert("Hey");
//    var received_data = {{ data }};
    var G_data = {{ Gbody|safe }};
    var G_columns = {{Gcols|safe}}
//    alert(RNA_columns)
//    alert(received_data);

$(document).ready(function() {
    $('#genomes').DataTable( {
//        'responsive': true,
        data: G_data,
        columns: G_columns,
        "order": [[ 2, "desc" ]]
    } );

});


if (window.location.href.indexOf("#") == -1) {
    $('.nav-tabs a[href="#tab_metadata"]').tab('show');
};


</script>

<script>

  // Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})

$(document).ready(function()
	{
    $("#loadpage").hide();
		$('#divPageContent').css("visibility", "visible");
	});

</script>

<!-- PNotify -->
  <!--<script src="/static/vendors/pnotify/dist/pnotify.js"></script>-->
  <!--<script src="/static/vendors/pnotify/dist/pnotify.buttons.js"></script>-->
  <!--<script src="/static/vendors/pnotify/dist/pnotify.nonblock.js"></script>-->
{% endblock javascripts %}
