{% extends "app/base_site.html" %}

{% block title %} Downloads {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <style>
  .icon-heading {
      display: inline-block;
    }

  </style>

  <div class="right_col" role="main">

    <br />

    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                            <h3 >Download whole DataBase</h3>
                                <!--<h2></h2>-->
                                  <div class="clearfix"></div>
                                    </div>

          <p> You can find all samples metadata we use in liqDB  <a href="{{ settings.SUB_SITE }}/media/downloads/metaData.txt.zip"><b>here</b></a></p>
          <br>
          <p> You can find an expression matrix for all samples <a href="{{ settings.SUB_SITE }}/media/downloads/miRNA_RPMadjLib.txt.zip"><b>here (RPM) </b></a> and
              <a href="{{ settings.SUB_SITE }}/media/downloads/miRNA_RCadj.txt.zip"><b> here (Read Counts) </b></a></p>

                          </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">

      <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">

                            <h3 >Download study data</h3>
                                <!--<h2></h2>-->
                                  <div class="clearfix"></div>
                                    </div>

          <p> If you want to download all data for a specific study please find the study you are interested in using <a href="{{ settings.SUB_SITE }}/studies"><b>Browse studies</b></a>,
              and navigate to the <b>Download</b> tab.</p>
          <br>
          <p> For example for the study SRP029994 you can find download links in <a href="http://bioinfo5.ugr.es/liqdb/study/SRP029994#tab_downloads">
              <b>http://bioinfo5.ugr.es/liqdb/study/SRP029994#tab_downloads</b></a></p>

                          </div>

      </div>

        <div class="col-md-4 col-sm-4 col-xs-12">

      <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">

                            <h3 >Download selected samples data</h3>
                                <!--<h2></h2>-->
                                  <div class="clearfix"></div>
                                    </div>

          <p> If you want to download all data for a subset of specific samples, make a query using <a href="{{ settings.SUB_SITE }}/samples"><b>Search samples</b></a>
              and then just navigate to the <b>Download</b> tab of your query.</p>
          <br>
          <p> E.g. for the example data in the main page <a target="_blank"  href="{{ settings.SUB_SITE }}/samples/4C215MMAW00LP4J387LA"> (all serum samples from healthy women) </a>
               you should click on the link and navigate to the <b>Download</b> tab</p>

                          </div>

      </div>


    </div>


  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
