{% extends "app/base_site.html" %}

{% block title %} Downloads {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <style>
  .icon-heading {
      display: inline-block;
    }

  </style>

  <div class="right_col" role="main">

    <br />

    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                            <h3 >Downlod studies</h3>
                                <!--<h2></h2>-->
                                  <div class="clearfix"></div>
                                    </div>

          <p> If you want to download all data for a specific study please find the study using <a href="{{ settings.SUB_SITE }}/studies"><b>Browse studies</b></a>, find the study you
          are interested in and navigate to the <b>Download</b> tab.</p>
          <br>
          <br>
          <p> For example for the study SRP029994 you can find download links in <a href="http://bioinfo5.ugr.es/liqdb/study/SRP029994#tab_downloads">
              <b>http://bioinfo5.ugr.es/liqdb/study/SRP029994#tab_downloads</b></a></p>

                          </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">

      <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">

                            <h3 >Downlod studies</h3>
                                <!--<h2></h2>-->
                                  <div class="clearfix"></div>
                                    </div>

          <p> If you want to download all data for a specific study please find the study using <a href="{{ settings.SUB_SITE }}/studies"><b>Browse studies</b></a>, find the study you
          are interested in and navigate to the <b>Download</b> tab.</p>
          <br>
          <p> For example for the study SRP029994 you can find download links in <a href="http://bioinfo5.ugr.es/liqdb/study/SRP029994#tab_downloads">
              <b>http://bioinfo5.ugr.es/liqdb/study/SRP029994#tab_downloads</b></a></p>

                          </div>

      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        {{fluid_chart|safe}}
        <!--<div class="x_panel tile fixed_height_320">-->
          <!--<div class="x_title">-->
            <!--<h2>Quick Settings</h2>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--<div class="x_content">-->
              <!---->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>


  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
