{% extends "app/base_site.html" %}

{% block title %} The sRNA-seq liquid biopsy DataBase {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row tile_count">
      <div class="col-md-3 col-sm-14 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-book"></i> Number of studies</span>
        <div class="count">{{studies}}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>5 </i> New studies</span>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>5 </i> New studies</span>-->
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Number of samples</span>
        <div class="count">{{samples}}</div>
        <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>101 </i> New samples</span>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-tint"></i> Number of fluids</span>
        <div class="count">{{fluids}}</div>
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 tile_stats_count">
        <span class="count_top"><i class="fa fa-line-chart"></i>  microRNA entries</span>
        <div class="count">4,888</div>
        <span class="count_bottom"><i class="red"></i>2871</i> mature sequences</span>
        <br />
        <span class="count_bottom"><i class="red"></i>2017</i> hairpin sequences</span>
      </div>
      <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
        <!--<span class="count_top"><i class="fa fa-user"></i> Total Collections</span>-->
        <!--<div class="count">2,315</div>-->
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
      <!--</div>-->
      <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">-->
        <!--<span class="count_top"><i class="fa fa-user"></i> Total Connections</span>-->
        <!--<div class="count">7,325</div>-->
        <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
      <!--</div>-->
    </div>
    <!-- /top tiles -->

    <!--<div class="row">-->
      <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
        <!--<div class="dashboard_graph">-->

          <!--<div class="row x_title">-->
            <!--<div class="col-md-6">-->
              <!--<h3>Network Activities <small>Graph title sub-title</small></h3>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
              <!--<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">-->
                <!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>-->
                <!--<span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
            <!--<div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>-->
          <!--</div>-->

          <!--<div class="col-md-3 col-sm-3 col-xs-12 bg-white">-->
            <!--<div class="x_title">-->
              <!--<h2>Top Campaign Performance</h2>-->
              <!--<div class="clearfix"></div>-->
            <!--</div>-->

            <!--<div class="col-md-12 col-sm-12 col-xs-6">-->
              <!--<div>-->
                <!--<p>Facebook Campaign</p>-->
                <!--<div class="">-->
                  <!--<div class="progress progress_sm" style="width: 76%;">-->
                    <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="99"></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div>-->
                <!--<p>Twitter Campaign</p>-->
                <!--<div class="">-->
                  <!--<div class="progress progress_sm" style="width: 76%;">-->
                    <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-12 col-sm-12 col-xs-6">-->
              <!--<div>-->
                <!--<p>Conventional Media</p>-->
                <!--<div class="">-->
                  <!--<div class="progress progress_sm" style="width: 76%;">-->
                    <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div>-->
                <!--<p>Bill boards</p>-->
                <!--<div class="">-->
                  <!--<div class="progress progress_sm" style="width: 76%;">-->
                    <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          <!--</div>-->

          <!--<div class="clearfix"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <br />

    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        {{bar_years|safe}}
      </div>

      <style>
            .icon-heading {
      display: inline-block;
    }
      </style>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320 overflow_hidden">
                              <div class="x_title">
                                <i class="fa fa-question"></i>
                            <h3 class="icon-heading">Test Data</h3>
                                <!--<h2></h2>-->
                                  <div class="clearfix"></div>
                                    </div>
                              <br>
          <a href="/study/SRP061240"><i class="fa fa-database"></i> See this study where they compare healthy subjects with colon and pancreas cancer patients <b>[Go]</b> </a>
                        <br>
                        <br>

          <a href="/samples/1988PJC1DCI7JLIZXJ5X"><i class="fa fa-group"></i> See this query where we selected all serum samples from healthy women <b>[Go]</b> </a>
                        <br>
                        <br>

          <a href="/mirna/350"><i class="fa fa-crosshairs"></i> Only interested in one particular miRNA? Have a look at the kind of graphs we prepared <b>[Go]</b> </a>

                          </div>
      </div>


      <div class="col-md-4 col-sm-4 col-xs-12">
        {{fluid_chart|safe}}
        <!--<div class="x_panel tile fixed_height_320">-->
          <!--<div class="x_title">-->
            <!--<h2>Quick Settings</h2>-->
            <!--<div class="clearfix"></div>-->
          <!--</div>-->
          <!--<div class="x_content">-->
              <!---->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Recent Study Uploads </h2>

            <!--<ul class="nav navbar-right panel_toolbox">-->
              <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
              <!--</li>-->
              <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                <!--<ul class="dropdown-menu" role="menu">-->
                  <!--<li><a href="#">Settings 1</a>-->
                  <!--</li>-->
                  <!--<li><a href="#">Settings 2</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</li>-->
              <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
              <!--</li>-->
            <!--</ul>-->
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="dashboard-widget-content">
              <ul class="list-unstyled timeline widget">
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>{{title4|safe}}</a>
                                    </h2>
                      <div class="byline">
                        <span>SRP:</span> <a href="https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{srp4}}">{{srp4}}</a>
                        {% if paper4 %}
                        <br /><a href="{{paper4}}"> Link to article</a>
                        {% endif %}
                        <!--<span>SRP:</span> <a> {{SRP0}}</a>-->
                      </div>
                      <p class="excerpt">{{abstract4|safe}}
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>{{title3|safe}}</a>
                                    </h2>
                      <div class="byline">
                        <span>SRP:</span> <a href="https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{srp3}}">{{srp3}}</a>
                        {% if paper3 %}
                        <br /><a href="{{paper3}}"> Link to article</a>
                        {% endif %}
                        <!--<span>SRP:</span> <a> {{SRP0}}</a>-->
                      </div>
                      <p class="excerpt">{{abstract3|safe}}
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>{{title2|safe}}</a>
                                    </h2>
                      <div class="byline">
                        <span>SRP:</span> <a href="https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{srp2}}">{{srp2}}</a>
                        {% if paper3 %}
                        <br /><a href="{{paper2}}"> Link to article</a>
                        {% endif %}
                        <!--<span>SRP:</span> <a> {{SRP0}}</a>-->
                      </div>
                      <p class="excerpt">{{abstract2|safe}}
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <div class="block_content">
                      <h2 class="title">
                                        <a>{{title1|safe}}</a>
                                    </h2>
                      <div class="byline">
                        <span>SRP:</span> <a href="https://trace.ncbi.nlm.nih.gov/Traces/sra/?study={{srp1}}">{{srp1}}</a>
                        {% if paper1 %}
                        <br /><a href="{{paper1}}"> Link to article</a>
                        {% endif %}
                        <!--<span>SRP:</span> <a> {{SRP0}}</a>-->
                      </div>
                      <p class="excerpt">{{abstract1|safe}}
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!--<div class="col-md-8 col-sm-8 col-xs-12">-->

        <!--<div class="row">-->

          <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="x_panel">-->
              <!--<div class="x_title">-->
                <!--<h2>Visitors location <small>geo-presentation</small></h2>-->
                <!--<ul class="nav navbar-right panel_toolbox">-->
                  <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                  <!--</li>-->
                  <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                      <!--<li><a href="#">Settings 1</a>-->
                      <!--</li>-->
                      <!--<li><a href="#">Settings 2</a>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<div class="clearfix"></div>-->
              <!--</div>-->
              <!--<div class="x_content">-->
                <!--<div class="dashboard-widget-content">-->
                  <!--<div class="col-md-4 hidden-small">-->
                    <!--<h2 class="line_30">125.7k Views from 60 countries</h2>-->

                    <!--<table class="countries_list">-->
                      <!--<tbody>-->
                        <!--<tr>-->
                          <!--<td>United States</td>-->
                          <!--<td class="fs15 fw700 text-right">33%</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                          <!--<td>France</td>-->
                          <!--<td class="fs15 fw700 text-right">27%</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                          <!--<td>Germany</td>-->
                          <!--<td class="fs15 fw700 text-right">16%</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                          <!--<td>Spain</td>-->
                          <!--<td class="fs15 fw700 text-right">11%</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                          <!--<td>Britain</td>-->
                          <!--<td class="fs15 fw700 text-right">10%</td>-->
                        <!--</tr>-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                  <!--<div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="row">-->


          <!--&lt;!&ndash; Start to do list &ndash;&gt;-->
          <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
            <!--<div class="x_panel">-->
              <!--<div class="x_title">-->
                <!--<h2>To Do List <small>Sample tasks</small></h2>-->
                <!--<ul class="nav navbar-right panel_toolbox">-->
                  <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                  <!--</li>-->
                  <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                    <!--<ul class="dropdown-menu" role="menu">-->
                      <!--<li><a href="#">Settings 1</a>-->
                      <!--</li>-->
                      <!--<li><a href="#">Settings 2</a>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</li>-->
                  <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                  <!--</li>-->
                <!--</ul>-->
                <!--<div class="clearfix"></div>-->
              <!--</div>-->
              <!--<div class="x_content">-->

                <!--<div class="">-->
                  <!--<ul class="to_do">-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Schedule meeting with new client </p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Create email address for new intern</p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Have IT fix the network printer</p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Copy backups to offsite location</p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Create email address for new intern</p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Have IT fix the network printer</p>-->
                    <!--</li>-->
                    <!--<li>-->
                      <!--<p>-->
                        <!--<input type="checkbox" class="flat"> Copy backups to offsite location</p>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; End to do list &ndash;&gt;-->

          <!--&lt;!&ndash; start of weather widget &ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col-md-6 col-sm-6 col-xs-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="x_panel">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="x_title">&ndash;&gt;-->
                <!--&lt;!&ndash;<h2>Daily active users <small>Sessions</small></h2>&ndash;&gt;-->
                <!--&lt;!&ndash;<ul class="nav navbar-right panel_toolbox">&ndash;&gt;-->
                  <!--&lt;!&ndash;<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</li>&ndash;&gt;-->
                  <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="dropdown-menu" role="menu">&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a href="#">Settings 1</a>&ndash;&gt;-->
                      <!--&lt;!&ndash;</li>&ndash;&gt;-->
                      <!--&lt;!&ndash;<li><a href="#">Settings 2</a>&ndash;&gt;-->
                      <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                  <!--&lt;!&ndash;</li>&ndash;&gt;-->
                  <!--&lt;!&ndash;<li><a class="close-link"><i class="fa fa-close"></i></a>&ndash;&gt;-->
                  <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="x_content">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="temperature"><b>Monday</b>, 07:30 AM&ndash;&gt;-->
                      <!--&lt;!&ndash;<span>F</span>&ndash;&gt;-->
                      <!--&lt;!&ndash;<span><b>C</b></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="weather-icon">&ndash;&gt;-->
                      <!--&lt;!&ndash;<canvas height="84" width="84" id="partly-cloudy-day"></canvas>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="weather-text">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2>Texas <br><i>Partly Cloudy Day</i></h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="weather-text pull-right">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3 class="degrees">23</h3>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="row weather-days">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="daily-weather">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2 class="day">Mon</h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h3 class="degrees">25</h3>&ndash;&gt;-->
                      <!--&lt;!&ndash;<canvas id="clear-day" width="32" height="32"></canvas>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h5>15 <i>km/h</i></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="daily-weather">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2 class="day">Tue</h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h3 class="degrees">25</h3>&ndash;&gt;-->
                      <!--&lt;!&ndash;<canvas height="32" width="32" id="rain"></canvas>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h5>12 <i>km/h</i></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="daily-weather">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2 class="day">Wed</h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h3 class="degrees">27</h3>&ndash;&gt;-->
                      <!--&lt;!&ndash;<canvas height="32" width="32" id="snow"></canvas>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h5>14 <i>km/h</i></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="daily-weather">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2 class="day">Thu</h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h3 class="degrees">28</h3>&ndash;&gt;-->
                      <!--&lt;!&ndash;<canvas height="32" width="32" id="sleet"></canvas>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h5>15 <i>km/h</i></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="daily-weather">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2 class="day">Fri</h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h3 class="degrees">28</h3>&ndash;&gt;-->
                      <!--&lt;!&ndash;<canvas height="32" width="32" id="wind"></canvas>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h5>11 <i>km/h</i></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="col-sm-2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="daily-weather">&ndash;&gt;-->
                      <!--&lt;!&ndash;<h2 class="day">Sat</h2>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h3 class="degrees">26</h3>&ndash;&gt;-->
                      <!--&lt;!&ndash;<canvas height="32" width="32" id="cloudy"></canvas>&ndash;&gt;-->
                      <!--&lt;!&ndash;<h5>10 <i>km/h</i></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash; end of weather widget &ndash;&gt;-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}
